*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
body div{
    margin: 50px;
}
#listaProdutos{
    width: 100%;
    border:1px solid red;
    display:flex;
    justify-content: center;
    align-items:center;
}
.card-product{
    width: 200px;
    height: 200px;
    border: 1px solid red;
    display:flex;
    justify-content: space-around;
    align-items:center;
    flex-direction: column;
    padding: 10px;
}

.box_routers{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}